1학년명렬표.txt
2학년 명렬표.txt
3학년명렬표.txt
convert.bat
main.bat
main.exe
samplemaker.py
.idea
data
.vscode
exe
__pycache__
cutPeople_2019-10-25_163056.csv
cutPeople_2019-10-25_163416.csv
cutPeople_2019-10-25_163113.csv
cutPeople_2019-10-25_163157.csv
cutPeople_2019-10-25_163307.csv
cutPeople
seat - 복사본 (2).dat
seat - 복사본.dat
mainExe.bat
mainExe.bat.lnk
